<a href="https://colab.research.google.com/github/vishal-pandey/iot-transfer/blob/master/data-prepration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [0]:
URL_data_1 = "https://raw.githubusercontent.com/vishal-pandey/iot-transfer/master/datasets/beijing/PRSA_data_2010.1.1-2014.12.31.csv"
URL_data_2 = "https://raw.githubusercontent.com/vishal-pandey/iot-transfer/master/datasets/pm2.5-china/ShanghaiPM20100101_20151231.csv"

In [0]:
df1 = pd.read_csv(URL_data_1)
df2 = pd.read_csv(URL_data_2)

In [4]:
df1.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [5]:
df2.head()

   No  year  month  day  hour  ...  TEMP  cbwd  Iws  precipitation  Iprec
0   1  2010      1    1     0  ...   1.0    cv  1.0            0.0    0.0
1   2  2010      1    1     1  ...   1.0    SE  2.0            0.0    0.0
2   3  2010      1    1     2  ...   0.0    SE  4.0            0.0    0.0
3   4  2010      1    1     3  ...   0.0    SE  5.0            0.0    0.0
4   5  2010      1    1     4  ...   0.0    SE  8.0            0.0    0.0

[5 rows x 17 columns]

In [0]:
pm25_beijing = df1.iloc[:, 5].dropna().values[:].reshape(-1, 1)

In [0]:
pm25_shanghai = df2.iloc[:, 9].dropna().values[:600].reshape(-1, 1)

In [8]:
pm25_beijing.shape

(41757, 1)

In [9]:
pm25_shanghai.shape

(600, 1)

In [0]:
np.savetxt("pm25_beijing.csv", pm25_beijing, delimiter=",", header='pm25')
np.savetxt("pm25_shanghai.csv", pm25_shanghai, delimiter=",", header='pm25')